script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js")

//- Scripts main start

each js in htmlWebpackPlugin.files.js
	script(src=js, type="text/javascript", defer)

//- Scripts main end