
//- Styles main start

each cssName in htmlWebpackPlugin.files.css
	link(href=cssName, rel='stylesheet')
// - for (var cssIndex = 0; cssIndex < htmlWebpackPlugin.files.css.length; cssIndex++)
// 	link(href=htmlWebpackPlugin.files.css[cssIndex], rel='stylesheet')

//- Styles main end