

header.header
	.header__row
		nav.header__menu.menu
			.menu__icon.icon-menu
				span
				span
				span
			.menu__body
				ul.menu__list
					li
						a(href='#!').menu__link about us
					li
						a(href='#!').menu__link work
					li
						a(href='#!').menu__link shop
					li
						a(href='#!').menu__link contact
		.header__logo
			img(src='/assets/img/logos/mainLogo.png')
