include ../mixins/__allMixins

//- PUG Variables
block vars

doctype html
html(lang='en')
	head
		title= titleName || "Project"

		include ../inclueds/__head
		include ../inclueds/__styles

	body


		// Landing
		div(class=`wrapper`)

			//- Content start
			block content
			//- Content end


		include ../inclueds/__scripts
