include ../mixins/_allMixins

//- PUG Variables
block vars

doctype html
html(lang='en')
	head
		title= titleName || "Project"

		include ../inclueds/layouts/_head
		include ../inclueds/layouts/_styles

	body


		// Landing
		div(class=`wrapper`)

			//- Content start
			block content
			//- Content end


		include ../inclueds/layouts/_scripts
